<div class="container">
  <h1>Welcome <%= current_user.name %>!</h1>

  <% if user_signed_in? %>
    <% if policy(current_user).manager? %>
      <h2>Projects</h2>
      <% @projects.each do |project| %>
        <div class="project">
          <div class="project-name">
            <%= project.name %>
          </div>
          <div class="project-actions">
            <%= link_to 'Edit', edit_project_path(project), class: 'links' %>
            <%= link_to 'Delete', project_path(project), method: :delete, data: { confirm: 'Are you sure?' }, class: 'links links-danger' %>
            <%= link_to 'Create Bug', new_project_bug_path(project), class: 'links' %>
          </div>
        </div>
      <% end %>
      <div>
        <%= link_to 'Create Project', new_project_path, class: 'links' %>
      </div>
    <% end %>
    <div class="logout-link">
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'links links-danger' %>
    </div>
  <% end %>
</div>
