<h1>Projects</h1>

<% if user_signed_in? %>
  <% if policy(current_user).manager? %>
    <% @projects.each do |project| %>
      <div>
        <%= project.name %>
        <%= link_to 'Delete', project_path(project), method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Edit', edit_project_path(project) %>
      </div>
    <% end %>
    <div>
      <%= link_to 'Create Project', new_project_path %>
    </div>
  <% end %>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<% end %>
