<h1>Bugs for <%= @project.name %></h1>
<% @bugs.each do |bug| %>
  <div class="bug">
    <%= render 'bug_details', bug: bug %>
    <%= render 'bug_actions', bug: bug %>
  </div>
<% end %>

<%= link_to 'Back', projects_path, class: 'btn btn-secondary back-button' %>
<% if policy(current_user).qa? %>
  <%= link_to 'New Bug', new_project_bug_path(@project), class: 'New-Bug-button' %>
<% end %>
