<h1>Bugs for <%= @project.name %></h1>
<% @bugs.each do |bug| %>
  <div class="bug">
    <div class="bug-details">
      <h2><%= bug.title %></h2>
      <p>Status: <%= bug.status %></p>
      <p>Type: <%= bug.bug_type %></p>
    </div>
    <div class="bug-actions">
      <% if  current_user.developer? %>
        <%= link_to 'Assign to Me', assign_project_bug_path(@project, bug), method: :post, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
<% end %>

<%= link_to 'Back', projects_path, class: 'btn btn-secondary back-button' %>
<% if policy(current_user).qa? %>
<%= link_to 'New Bug', new_project_bug_path(@project) ,class: 'New-Bug-button' %>
<%end%>


